@model List<OutputModel>

@{
}

<h3> The Topics of this pages are as follows: </h3>


<ul>
    @foreach (var item in Model.Skip(1))
    {
        if (item.OutputData != "")
        {
            <li>@item.OutputData</li>
        }   
    }
</ul>