@model FormDataModel

@{
    ViewData["Title"] = "BioWebScrapping";
}

<h3> Enter the Wikipedia URL:</h3>

<form asp-action="Output" asp-controller="BioScrap" method="post">
    <label asp-for="InputData">Enter Data:</label>
    <input asp-for="InputData" />
    <button type="submit">Submit</button>
</form>

